html {
    width:100%;
    background-image: url("img/hive_background.jpg");
    background-size: 100%;
    background-repeat: repeat;
}

body {
    width:1200px;
    margin:0 auto;
    font-family: monospace, sans-serif;
}

header {
    padding: 25px 0;
    text-align:center;
    color:#fff;
    font-size: 34px;
}

header a{
    color:#fff;
    text-decoration: none;
}

nav {
    padding: 10px 0;
    text-align:center;
    color:#fff;
    font-size: 28px;
}

ul, li {
    margin:0;
    padding:0;
    display: inline;
}

li {
    padding: 0 40px;
}

nav a{
    color:#fff;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.products {
    width:80%;
    margin:0 auto;
}

.product {
    margin:2% 4%;
    width:42%;
    height:600px;
    display:inline-block;
    background: #fff;
    float:left;
    border-radius:10px;
    opacity:0.88;
}

.product:hover {
    opacity:1;
    transition: 0.5s;
}

.product:hover .pr_price{
    color:red;
    transition: 0.5s;
}

.pr_image {
    margin: auto;
    width:60%;
    height:440px;
    background: #fff;
    position:relative;
}

.pr_image img{
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.pr_name{
    text-align:center;
    font-size: 22px;
    color: #393939;
}

.pr_price{
    text-align:center;
    margin:20px 0;
    font-size: 28px;
    color: #393939;
}

.pr_cart {
    cursor:pointer;
    text-align:center;
    margin: 0 auto;
    width:20%;
    color: white;
    border: 1px white solid;
    border-radius:5px;
    padding: 3px;
}

.product:hover .pr_cart{
    border: 1px red solid;
    color: black;
    transition: 1s;
}

.leftside {
    position:fixed;
    text-align: center;
    height:80px;
    width:200px;
    right:-10px;
    top:40px;
    border-radius: 10px;
    background:#fff;
}

.leftside a {
    display:inline-block;
    color:#000;
    text-decoration:none;
    padding: 1px;
}

.cart_product .pr_image {
    width: 160px;
    height: 180px;
    margin: 0px 17px 0px 25px;
    background: #fff;
    float: left;
}
.cart_product .pr_image img{
	max-width: 160px;
    max-height: 180px;
}
.cart_product .pr_name{
    width: 250px;
    display: block;
    margin: 57px 0 0px 0;
    float: left;
}
.cart_product .pr_price {
    width: 130px;
    background: #fff;
    margin: 66px 10px 0px 20px;
    float: left;
}
.cart_product .x_sign{
    font-size: 25px;
    width: 20px;
    float: left;
    margin: 67px 0px 0px 70px;
}
.cart_product .pr_quantity{
	width: 50px;
    display: block;
    margin: 66px 0 0 0;
    float: left;
    font-size: 28px;
}
.cart_product {
	margin:2% 0%;
    width: 100%;
    height: 180px;
    background: #fff;
    border-radius:10px;
    opacity:0.88;
}
.cart_product:hover {
	opacity: 1;
}

.footer a{
	text-decoration: none;
}
.footer{
	margin:2% 0%;
    width: 100%;
	background: #fff;
	height: 180px;
	cursor: pointer;
	border-radius:10px;
    opacity:0.88;
}
.footer:hover {
	opacity: 1;
}
.reset{
	margin-left: 950px;
    position: absolute;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    width: 190px;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    padding: 3px;
    border: 1px red solid;
    color: black;
}
.footer .pr_price{
	position: relative;
    padding-top: 25px;

}

.confirm {;
    margin: 0 auto;
    display:block;
    position: relative;
    width:120px;
    font-size:18px;
}

#empty_cart{
	position: relative;
    display: block;
    width: 600px;
    padding-top: 40px;
    margin: auto;
}
.go_back{
	cursor: pointer;
	margin: 30px auto;
    text-align: center;
    width: 20%;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    padding: 3px;
    border: 1px red solid;
    color: black;
}

.remove_item{
	position: absolute;
	margin: 7px 0 0 1175px;
    color: red;
    font-family: sans-serif;
    font-size: 20px;
	font-weight: 700;
}
.reg-box, .login-box{
    width:500px;
    margin: 0 auto;
    margin-top:90px;
    padding:20px 0;
    text-align:center;
    background: #fff;
    border-radius:10px;
}
.reg-box p, .login-box p{
    margin:0;
    margin-top:14px;
    text-align:left;
    padding-left:56px;
    font-size:16px;
}
.reg-box input, .login-box input{
    width:400px;
    padding:4px;
    font-size:18px;
}
.reg-box button, .login-box button{
    cursor:pointer;
    margin-top:22px;
    border: 1px grey solid;
    border-radius:5px;
    padding: 7px;
    font-size:14px;
}

.reg-box button:hover, .login-box button:hover{
    border: 1px red solid;
    transition: 1s;
}

#errorbox p{
    color: red;
    text-align: center;
    padding-left: 0px;
}

.install {
    width:300px;
    margin: 0 auto;
    margin-top:180px;
    padding:20px 0;
    text-align:center;
    background: #fff;
    border-radius:10px;
}

.install button{
    cursor:pointer;
    margin-top:22px;
    border: 1px grey solid;
    border-radius:5px;
    padding: 7px;
    font-size:14px;
}

.adminbody {
    margin:40px auto;
    padding: 0 70px;
    width:1060px;
    background: #fff;
    border-radius:10px;
}

.adminbody header {
    padding: 25px 0;
    text-align:center;
    color:#000;
    font-size: 34px;
}

.adminbody .header {
    font-size: 22px;
}

.header-line {
    font-weight:bold;
}

.line div{
    display: inline-block;
    text-align: left;
}

.line .id{
    width:5%;
}
.line .image{
    vertical-align: top;
    width:40%;
}
.line .name{
    width:35%;
}
.line .price{
    text-align: right;
    width:10%;
}
.line .del{
    text-align: center;
    width:5%;
}
.line .email{
    width:30%;
}
.line .password{
    text-align: right;
    width:10%;
}
.line .role{
    text-align: right;
    width:10%;
}

.line input {
    text-align: left;
    width:80%;
}

form {
    margin-bottom:5px;
}
.block {
    padding-bottom:70px;
}
.adminblock {
    padding-bottom:70px;
}