ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .cluster {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .cluster:hover .cluster {
	background-color: red;
}

li.menu {
    display: inline-block;
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-down a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-down a:hover {
	background-color: #f1f1f1;
	transform: scale(1.1);
}

.menu:hover .drop-down {
	display: block;
}

body{
	background-image: url(https://media.giphy.com/media/l3q2zVr6cu95nF6O4/giphy.gif);
}