body{
	background-color: #505050;
}
#header{
	background-color: #909090;
	width: 1420px;
	height: 137px;
	margin-top: 18px;
	margin-left: 230px;
	border-radius: 10px;
	box-shadow: 10px 10px 12px;
}
#leftbox{
	background-color: #909090;
	position: absolute;
	width: 140px;
	height: 425px;
	margin-top: 20px;
	margin-left: 260px;
	border-radius: 10px;
	box-shadow: 10px 10px 12px;
}
#midle{
	background-color: #909090;
	position: absolute;
	width: 1020px;
	height: 582px;
	margin-top: 20px;
	margin-left: 430px;
	border-radius: 10px;
	box-shadow: 10px 10px 12px;
}
#rigthbox{
	background-color: #909090;
	position: absolute;
	width: 140px;
	height: 425px;
	margin-top: 20px;
	margin-left: 1480px;
	border-radius: 10px;
	box-shadow: 10px 10px 12px;
}
#greenbox{
	background-color: #88ff89;
	position: absolute;
	width: 520px;
	height: 170px;
	margin-top: 526px;
	margin-left: 185px;
	border-radius: 10px;
	box-shadow: 10px 10px 12px;
}
#cluster{
	width: 1000px;
	height: 562px;
	margin: 10px;	
}
#day_of_the_42{
	margin-top: 10px;
	margin-left: 10px;
	height: 110px;
}
#imgbox{
	margin-top: 5px;
}
#arrow, #main {
	height: 70px;
	margin-left: 32px;
	margin-top: 10px;
}
#oeil{
	border: red;
	border-style: solid;
	margin-left: 27px;
	margin-top: 5px;
	height: 65px;
	border-width: 5px;
	border-radius: 5px;
}
#outil{
	height: 70px;
	margin-left: 32px;
	margin-top: 5px;
}
#chaticn{
	height: 68px;
	margin-left: 32px;
	margin-top: 10px;
}
#loupe{
	position: absolute;
	margin-left: 698px;
	margin-top: 10px;
}
#reload{
	position: absolute;
	margin-left: 954px;
	margin-top: 10px;
	height: 20px;
}
#close{
	position: absolute;
	margin-left: 954px;
	margin-top: 107px;
	height: 20px;
}
#book{
	height: 96px;
	margin-top: 15px;
	margin-left: 35px;
}
#towel{
	height: 52px;
	margin-top: 10px;
	margin-left: 35px;
}
#brick{
	background-image: url(resources/brick.jpg);
	margin-top: 5px;
	margin-left: 10px;
	width: 120px;
	height: 70px;
}
#text{
	margin-top: 7px;
	margin-left: 9px; 
	font-size: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#text span{
	font-family: 'Times New Roman', Times;
	font-size: 36px;
}
/* #leftbox img{
	height: 70px;
	margin-left: 32px;
	margin-top: 10px;
} */
